:root {
    --grey: rgba(66, 66, 66, 0.476);
    --cardItemColor: #233142;
}


body {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: white;
    background-image: url('../images/bg.jpg');
    background-size: cover;
}

h1 {
    margin: 0.25em auto;
    font-size: 3em;
    text-align: center;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 1em;
    background-color: var(--grey);
}

#mainContainer {
    height: fit-content;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

form {
    width: fit-content;
    height: fit-content;
    margin: 0.5em auto;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
}

label {
    font-size: 1.25em;
    font-weight: bold;
}

input {
    padding: 0.35em;
    font-size: 1.5em;
    opacity: 75%;
    border-radius: 0.5em;
}

input:placeholder-shown {
    font-style: italic;
}

input:focus {
    outline-color: rgb(147, 188, 255);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

aside p {
    width: max-content;
    margin: 1em auto;
    margin-bottom: 0;
    padding: 0.75em;
    text-align: center;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgba(70, 65, 65, 0.63);
    transition-duration: 0.4s;
}

aside p:hover {
    cursor: pointer;
    padding: 1em;
    background-color: red;
}

#searchHistory {
    margin: 0;
    margin-top: 0.75em;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

#searchHistory li {
    padding: 0.5em;
    margin: 0.5em;
    width: 65%;
    border-bottom: 1px solid black;
    border-radius: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    background-color: rgba(66, 66, 66, 0.818);
    transition-duration: 0.4s;
}

#searchHistory li:hover {
    cursor: pointer;
    font-size: 1.05em;
    border: none;
    color: black;
    background-color: #e3e3e3a9;
}

main {
    width: 100%;
    height: min-content;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
}

h2 {
    color: white;
    margin: 0.5em;
    padding: 0.2em;
    font-size: 1.5em;
    background-color: var(--cardItemColor);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 1px solid black;
    border-radius: 0.2em;
    text-align: center;
    text-wrap: wrap;
    height: fit-content;
}

h3 {
    width: 80%;
    padding: 0.5em;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 1em;
    background-color: #e3e3e3a9;
}

hr {
    margin: 1em;
    width: 80%;
}

#cardRow {
    margin: 0;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 1em;
    padding: 0.25em;
    padding-bottom: 0.5em;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1em;
    color: white;
    background-color: #455d7a;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card h4 {
    width: max-content;
    margin: 1em;
    padding: 0.5em;
    background-color: var(--cardItemColor);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 1px solid black;
    border-radius: 1em;
}

.card ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card ul li {
    padding: 0.3em;
    margin: 0.25em;
    width: max-content;
    border: 1px solid black;
    border-radius: 0.5em;
    text-align: center;
    background-color: var(--cardItemColor);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

/* media query breakpoints */

@media only screen and (max-width: 470px) {
    body {
        font-size: 12px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    main {
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    #mainContainer {
        flex-direction: column;
        height: 100vh;

    }
    #cardRow {
        flex-wrap: wrap;
    }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    main {
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    #mainContainer {
        flex-direction: column;
        height: 100vh;

    }
    #cardRow {
        flex-wrap: wrap;
    }

}

/* Extra small devices (phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        font-size: 20px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    main {
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    #mainContainer {
        flex-direction: column;
        height: 100vh;

    }
    #cardRow {
        flex-wrap: wrap;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 22px;
    }
    main {
        border: none;
        background-color: rgba(255, 255, 255, 0);
    }
    #mainContainer {
        flex-direction: column;
        height: 100vh;

    }
    #cardRow {
        flex-wrap: wrap;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        font-size: 14px;
    } 
    main {
        border: 1px solid black;
        background-color: var(--grey);
    }
    #mainContainer {
        flex-direction: row;
        height: 100vh;
    }  
    #cardRow {
        flex-direction: row;
    } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1569px) {
    body {
        font-size: 16px;
    }  
    main {
        border: 1px solid black;
        background-color: var(--grey);
    }  
    #mainContainer {
        flex-direction: row;
        height: 100vh;
    }
    #cardRow {
        flex-direction: row;
    }
}

/* Extra extra large devices (hi-res monitors) */

@media only screen and (min-width: 1744px) {
    body {
        font-size: 18px;
    }
    main {
        border: 1px solid black;
        background-color: var(--grey);
    }  
    #mainContainer {
        flex-direction: row;
        height: 100vh;
    }
    #cardRow {
        flex-direction: row;
    }
}